:root {
    --paragraph: calc(1.15rem + .4vw);
    --primary: #D3CEC1;
    --background: #221C1A;
    --accent: #D788CD;
}

html {
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: #fff0;
}

html:focus-within {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    font-family: sans-serif;
    font-size: var(--paragraph);
    font-style: normal;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 1.25rem;
}

main > * + * {
    margin-block-start: 1.5em;
}

.musk-wrapper {
    display: flex;
    max-width: calc(150px + 4vw);
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent);
    text-underline-offset: 4px;
    text-decoration-skip-ink: all;
    transition: opacity .2s ease;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        opacity: .6
    }
}

a:focus-visible {
    outline: 3px solid var(--accent);
    outline-offset: 6px;
    border-radius: .25rem;
}

.vh {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
}